{% extends "layout.html" %}
{% block body %}

<div class="top-bar">
  <h3>Hotels</h3>
  <select class="form-control input-md" name="select">
    {% for hotel in hotels %}
    <option value="{{hotel.name}}">{{hotel.name}}</option>
    {% endfor %}
  </select>

  <h3>Restaurant</h3>
  <select class="form-control input-md" name="select">
    {% for restaurant in restaurants %}
    <option value="{{restaurant.name}}">{{restaurant.name}}</option>
    {% endfor %}
  </select>

  <h3>Activities</h3>
  <select class="form-control input-md" name="select">
    {% for activity in activities %}
    <option value="{{activity.name}}">{{activity.name}}</option>
    {% endfor %}
  </select>
</div>

<div class="days">
  <ul class="nav nav-tabs" role="tablist" id="dayTabs">
    {% for button in dangerButtons %}
      <li class="nav-list-item"><a href="#day{{button.name}}" aria-controls="day{{button.name}}" data-toggle="tab">Day {{button.name}}</a></li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for button in dangerButtons %}
      <div class="tab-pane" id="day{{button.name}}">{{button.content}}</div>
    {% endfor %}
  </div>
</div>
{# <script>
{% for button in dangerButtons %}
  $("#dayTabs a").click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  });
{% endfor %}
</script> #}

{% endblock %}
