{% extends "layout.html" %}
{% block body %}

<div class="top-bar">
  <h3>Hotels</h3>
  <select class="form-control input-lg" name="select">
    {% for hotel in hotels %}
    <option value="{{hotel.name}}">{{hotel.name}}</option>
    {% endfor %}
  </select>

  <h3>Restaurant</h3>
  <select class="form-control input-lg" name="select">
    {% for restaurant in restaurants %}
    <option value="{{restaurant.name}}">{{restaurant.name}}</option>
    {% endfor %}
  </select>

  <h3>Activities</h3>
  <select class="form-control input-lg" name="select">
    {% for activity in activities %}
    <option value="{{activity.name}}">{{activity.name}}</option>
    {% endfor %}
  </select>
</div>

<div class="bottom-bar">

</div>







{% endblock %}
