body {
  padding-top: 100px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  font-size: 90%;
}

.col-sm-8,
.col-sm-4 {
  padding: 0px;
}

.container {
  width: 90%;
}

.top-bar {
  background-color: #E6E6E6;
  border: 4px solid #AAAAAA;
  border-radius: 5px;
  border-width: 1px;

  padding: 0px 20px 20px 20px;
  margin: 0px 0px 0px 0px;
}

.bottom-bar,
.days,
.planned-trip {
  background-color: #E6E6E6;
  border: 4px solid #AAAAAA;
  border-radius: 5px;
  border-width: 1px;
  padding: 0px 20px 20px 20px;
  margin: 0px 0px 0px 0px;
  h4 {
    text-align: center;
  }
}

.days {
  .nav-tabs {
    font-weight: 300;
    font-size: 150%;
    font-family: 'Oswald', sans-serif;
  }
  .tab-content{
    font-size: 150%;
    font-weight: 100;
    padding: 30px 10px 30px;
  }
}

}


.map-body {
  margin: 0px 0px 0px 0px;
  //background-color: #D6D6D6;
}

select {
  width: 70%;
}

#map-canvas {
  height: 50vh;
}
