body {
  padding-top: 100px;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

.side-bar {
  background-color: #B0F6F9;
  border-color: #222222;
  border-radius: 4px;
  border-width: 4px;

  padding: 0px 0px 20px 20px;
}

.map-body {
  background-color: #D0FAFD;
}

select {
  //width: 70%;
}
